.header {
    background-color: var(--primary-page-color);

    &__bottom {
        border-bottom: 1px solid var(--header-bottom-line);
    }


    &__container {
        @media (min-width:768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width:768px) {
            justify-content: center;
        }
    }

    &__logo {
        padding-top: 16px;
        padding-bottom: 16px;
    
        color: var(--logo-text-color);

        @media (min-width: 768px) {
            margin-right: 87px;
            padding-top: 26px;
            padding-bottom: 26px;
        }

        @media (min-width:1200px){
            margin-right: 93px;
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }

    &__menu-button {
        display: inline-flex;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;

        @media (min-width: 768px) {
            display: none;
        }
    }

}
    

        



