
:root {
    --primary-page-color: #FFFFFF;
    --primary-text-color: #757575;
    --secondary-page-color: #F5F4FA;

    --background-hero-footer: #2F303A;

    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --footer-contact-text-color: rgba(255, 255, 255, 0.6);
    --logo-text-color: #000000;


    --mainpage-icon-color: #AFB1B8;
    --footer-icon-background: rgba(255, 255, 255, 0.1);

    --header-bottom-line: #ECECEC;
    --services-title-background: rgba(47, 48, 58, 0.8);

    --backdrop-color: rgba(0, 0, 0, 0.2);

    --gallery-image-overlay: rgba(33, 150, 243, 0.9);

    --modal-input-border: rgba(33, 33, 33, 0.2);
    --modal-close-border: rgba(0, 0, 0, 0.1);
    --footer-input-border: rgba(255, 255, 255, 0.3);
    --product-card-border: #EEEEEE;
}